@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.company-name {
  font-family: 'Fredoka One', cursive;
}

.custom-bg-color {
  background-color: #011532 !important;
}

@keyframes rotateOneTurn {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotate-on-load {
    animation: rotateOneTurn 2s ease-in-out forwards;
  }

.left-nav {
    margin-left: 250px; /* Adjust this value as needed */
}

.right-nav {
    margin-right: 250px; /* Adjust this value as needed */
}

.shadow-text {
  text-shadow: 2px -2px 4px blue;
}

.color-change {
  transition: background-color 0.5s ease;
  /* Initial color */
  background-color: #e6f0ff;
  /* Other styling */
  padding: 5rem;
  margin-bottom: 4rem;
  border-radius: 0.3rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.p-size {
  font-size: 1.2rem;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-pills .nav-link.active {
    background-color: #6c757d !important;
}

.display-none {
  display: none;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-70%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(+70%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animation to specific elements */
.slide-in-top {
  animation: slideInFromTop 1.25s ease-in-out;
}

.slide-in-left {
  animation: slideInFromLeft 1.25s ease-in-out;
}

.slide-in-right {
  animation: slideInFromRight 1.25s ease-in-out;
}

.transitioning {
    transition: all 1.25s ease; /* Adjust duration and easing as needed */
}